/* Globals */

/*
Wheat:     #f8d29c
Sienna:    #9f602b
Tan:       #d2a07d
Dim Gray:  #594a4f
Dim Brown: #7e6a6c
*/
$wheat:  #f8d29c;
$sienna: #9f602b;
$tan:    #d2a07d;
$gray:   #594a4f;
$brown:  #7e6a6c;


/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	//list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page layout */

html {
  font-size: 0.7em;
}

body {
  //display: grid;
  //grid-template-columns: [left] 16rem [content] auto [right];
  //grid-template-rows: [top] auto [content-top] auto [content-bottom] auto [bottom];
  //max-width: 75rem;
  //margin: auto;
}

section.header {
  margin-bottom: .8em;
}

figcaption {
  text-align: center;
}

header.logo {
  //border-bottom: 1px solid #888;
  //grid-column: left / content;
  //grid-row: top / content-top;
  align-self: end;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

header.logo a {
  display: block;
}

header.logo img {
  max-width: 10rem;
}

.logo-container {
}

header.blog-title {
  //border-bottom: 1px solid #888;
  //grid-column: content / right;
  //grid-row: top / content-top;
  align-self: end;
}

.blog-title-container {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

main {
  //grid-column: content / right;
  //grid-row: content-top / content-bottom;
}

div#content {
    margin-left: 17rem;
    margin-right: 3rem;
}

.main-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

div#navigation {
    background-color: $wheat;
    float: left;
    left: 0px;
    padding: 0px 18px;
    position: fixed;
    top: 0px;
    width: 10rem;
    box-shadow: 5px 0px $tan;
    height: 100%;
}

nav {
  text-align: right;
  //grid-column: left / content;
  //grid-row: content-top / content-bottom;
  margin-bottom: 2rem;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-container {
  margin-right: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

nav a {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  //border-top: 1px solid #888;
  text-align: right;
  //grid-column: left / right;
  //grid-row: content-bottom / bottom;
}

.comments {
  margin-top: 1rem;
}

.teaser {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  //border-bottom: 1px solid #888;
}

/* Styling */

/*
Medieval orange: #e06f45
Medieval blue: #356f43
Rubrication red: #b84f62
*/

body {
  font-size: 2rem;
  font-family: 'Crimson', sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-feature-settings: "kern";
  color: $gray;
}

p {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Building;
  src: url(/fonts/Building_Typeface.ttf);
}

@font-face {
  font-family: Crimson;
  src: url(/fonts/Crimson-Roman.otf);
}

@font-face {
  font-family: Playfair;
  src: url(/fonts/PlayfairDisplay-Regular.otf);
}

nav a {
  font-size: 3rem;
  color: $sienna;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Building', 'Dosis', sans-serif;
}

.blog-title a {
  font-size: 3rem;
  color: $brown;
  text-decoration: none;
  font-family: 'Playfair';
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 1rem;
  font-family: 'Playfair';
}

.byline {
  font-size: 1.5rem;
  font-style: italic;
  color: $brown;
}
.tags {
    font-size: 1.5rem;
    font-style: italic;
    color: $brown;
}

.article-title {
  margin-bottom: 1.5rem;
}

.article-title h1 {
  margin-bottom: 0.1rem;
}

h2 {
  font-size: 2.6rem;
  font-weight: 500;
  margin-top: 2.2rem;
  margin-bottom: 0.4rem;
  color: $wheat;
  font-family: 'Playfair';
}

h3 {
  font-size: 2.1rem;
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
  color: #b84f62;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.article-body p {
  font-size: 1.5rem;
  font-family: 'Crimson', serif;
  margin-bottom: 0.75rem;
}

strong {
  font-weight: bold;
}

footer {
  font-size: 1.3rem;
  color: #444;
}

code {
  font-family: "Ubuntu Mono";
  font-size: .8em;
}

pre {
  line-height: 1;
  overflow-x: scroll;
}

ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-title-link {
  color: #000;
}

.tagslist {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mjpage__block {
  display: block;
  text-align: center;
  margin: 1em 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-large {
  width: 40rem;
}

.image-very-large {
    width: 100%;
}


.image-medium {
    width: 30rem;
}

.theorem {
  border-left: 0.5rem solid #b84f62;
  padding: 1rem;
  margin: 1rem 0rem;
  background-color: #b84f6212;
  border-radius: 1rem;
}

.comments {
  text-align: center;
}

#show-comments-button {
  width: 60%;
  height: 4rem;
  margin: 2rem 0;
  padding: 0;
  font-family: Dosis;
  font-size: 1.8rem;
  color: #b84f62;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}

